@use 'colors' as *;
@use 'mixin' as *;

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: 1rem;
	font-family: 'Inter', sans-serif;
	background-color: $purple;
}

.nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__wrapper {
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 6rem;
		padding: 2rem;
		border-radius: 100px;
		background-color: $light-purple;
	}

	&__a {
		text-decoration: none;
	}
	&__icon {
		font-size: 3rem;
		padding-left: 1rem;
		color: $icon-color;
	}

	&__h2 {
		font-size: 3rem;
		text-transform: uppercase;
		padding: 1rem;
		color: $white;
	}
	&__link {
		@include link;
		padding-left: 4rem;
		padding-right: 4rem;
		&-span {
			@include hoverUnderlineAnimationCenter;
		}
	}

	&__btn {
		@include btn;
		margin-right: 2rem;
		// &:nth-of-type(1) {
		// 	margin-right: 2rem;
		// }
	}
}
